@import './vars.scss';

html {
    font-size: 10px;
    overflow-x:hidden;
}


#root,
.App {
    height: 100%;
}
*{
    margin:0;
    padding: 0;
}
*,
::before,
::after,
:focus {
    outline: none;
    box-sizing: border-box;
}

body {
    line-height: 1.1;
    background-color: $background-color;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
    color: $secondary-color;
}

button{
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

ul {
    list-style: none;
}


@media (max-width: $mobile){

html{
    font-size: 8px;
}
}
