@import './vars.scss';

html {
    font-size: 10px;
}

html,
body {
}

#root,
.App {
    height: 100%;
}

*,
::before,
::after,
:focus {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.1;
    background-color: $background-color;

    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
