.favouritesItem{
    display:flex;
    align-items: center;
    margin: 1rem 0;
    cursor:pointer;
    .beerName{
        font-size: 1.3rem;
        flex: 3;
        text-align: center;

    }
    .beerImg{
        flex:1;
        display:flex;
        justify-content:center;
        img{
            height:50px;
        }
    }
}