@import "../../vars.scss";
.beerList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 10%;
    align-items: center;
}

@media (max-width: $mobile) {
    .beerList {
        margin: 8% 5%;
    }
}
