@import "../../../vars.scss";
.favsButton {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    .favStar {
        font-size: 30px;
        z-index: 1;
    }
}

@media (max-width: $mobile) {

}
