@import "../../../vars.scss";

.beerListItemWrapper {
    position: relative;
}
.beerListItem {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.288);
    align-items: center;
    margin: 1rem;
    height: 400px;
    width: 300px;
    cursor: pointer;
    &:hover {
        border: 1px solid $secondary-color;
    }
    .beerName {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 2rem;
    }
    .beerImg {
        position: relative;
        img {
            padding: 3rem;
            height: 300px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 2%;
            left: 5%;
            right: 5%;
            height: 1px;
            background: $secondary-color;
        }
    }
}
