@import "../../vars.scss";

.explorer {
    height: 90vh;
    display: flex;
    font-size: 1.5rem;
    .searchIcon {
        display: none;
    }
    .leftContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 5% 0;
        background: $tertiary-color;
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            top: -10%;
            right: -15%;
            width: 30%;
            height: 15%;
            background: #fcfcfc;
            transform: rotate(45deg);
        }

        .searcher {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            .closeSearcherIcon {
                display: none;
            }
            .label {
                font-size: 2rem;
                width: 100%;
                margin: 2rem 0;
                padding: 0 10%;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                .input {
                    border: none;
                    background: none;
                    border-bottom: 2px solid $border-color;
                    width: 70%;
                    font-size: 2rem;
                    margin-top: 1rem;
                }
            }
            .button {
                margin-top: 5%;
            }
        }
    }

    .rightContent {
        flex: 2;
        height: 100%;
        overflow-y: scroll;
    }
}

@media (max-width: $mobile) {
    .explorer {
        position: relative;
        .searchIcon {
            font-size: 3rem;
            display: inherit;
            position: fixed;
            right: 0;
            margin: 1rem;
        }
        .leftContent {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(-100%);
            transition: all 0.5s;
            &::after {
                display: none;
            }
            .searcher {
                .closeSearcherIcon {
                    display: inherit;
                    font-size: 2.5rem;
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin: 1rem;
                }
            }
        }
        .rightContent {
            flex: 1;
            width: 100%;
        }
    }
}

.showLeftContent {
    transform: translateX(0) !important;
}
