@import "../../vars.scss";

.favourites{
    position:absolute;
    top:10vh;
    right:0;
    height: 30vh;
    width: 9%;
    padding: 1rem;
    overflow-y: scroll;
    z-index:10;
    background: $tertiary-color;
    border: 1px solid $secondary-color;
}